@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 37px;
}

#nav-logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 240px;
    cursor: pointer;
}

#nav-logo-h2 {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
}

#nav-logo-g {
    color: #FF42A5;
}

nav>div>ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
    padding-right: 240px;
}

nav>div>ul>li>div {
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px 17px 24px;
}

nav>div>ul>li>div>span>img {
    margin-right: 16px;
    cursor: pointer;
}

.nav-menu-items {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

/* nav ends here */

#banner {
    background-image: url('./images/Group\ 14.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: space-between;
    margin-right: 240px;
}

#banner-content {

    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 240px;
}

#banner-h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

#banner-h2 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.banner-p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 17px;
}

.btn {
    padding: 21px 40px;
    border-radius: 48px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.pink {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.skyblue {
    background: #4EC5F7;
    margin-left: 24px;
}

/* banner section done */


#community-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#community-content {
    text-align: right;
}

#community-section-heading {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
    margin-top: 95px;
}

#community-section-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

#community-section-description-2 {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 96px;
}

#unleash {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}

/* community-section ends */

#games-collection {
    margin-top: 120px;
    text-align: center;
}

#games-collection-heading {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

#games-collection-heading-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

#games-collection-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

.game-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.game img {
    width: 100%;
    height: auto;
}


.content img {
    width: 50px;
}

.content {
    width: 100%;
}

.game {
    display: inline-block;
    position: relative;
}

#games-collection-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    margin: 0 auto;
    max-width: 1440px;
    margin-bottom: 120px;
}



/* feature section starts */




#features-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 265px;
    margin-bottom: 120px;
}

.features-content-title-1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    text-align: right;
}

.features-content-title-2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: right;
}

.features-content-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.feature-img1 {
    border-radius: 8px;
    flex-shrink: 0;
}

.feature-img2 {
    flex-shrink: 0;
    border-radius: 8px;
    position: relative;
    margin-top: -320px;
    margin-left: -145px;
    display: block;
}



/* feature section 2 starts */


#features-section-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 113px;
    margin-bottom: 120px;
}

.feature-img3 {
    border-radius: 8px;
    flex-shrink: 0;
}

.feature-img4 {
    flex-shrink: 0;
    border-radius: 8px;
    position: relative;
    margin-top: -242px;
    margin-left: 528px;
    display: block;
}

.features-content-title-3 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}

.features-content-title-4 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}

.features-content-description-2 {
    color: #534C64;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}


/* careers section start */



#info>div>p {
    margin-bottom: 10px;
}



#careers-section {
    min-height: 821px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

#careers-section-div {
    display: flex;
}

#careers-section-content {
    width: 35%;
    padding-left: 240px;
}

#careers-section-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    padding-top: 120px;
    margin-bottom: 24px;
}

#careers-section-description {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

#info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.white {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF42A5;
}







#category-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding-left: 150px;
    padding-right: 150px;
}

.category {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 50px;
    background-color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    border: 4px solid transparent;
    cursor: pointer;
}

.category:hover {
    border: 4px solid #FF42A5;
    color: #F948B2;
}


#categories {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px;
}




footer {
    min-height: 636px;
    flex-shrink: 0;
    background: #0B0223;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#g {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#footer-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
    padding-bottom: 63px;
}

.footer-a {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 63px;
    padding-bottom: 56px;
}

.footer-a>a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding-left: 15px;
}


#socials {
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 64px;
    grid-column-gap: 25px;
}

.fa-apple, .fa-linkedin, .fa-instagram{
    font-size: 42px;
    color: #FFF;
}

#privacy {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.privacy-a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    padding-top: 28px;
}


.content {
    opacity: 0;
    height: 98.5%;
    width: 98.5%;
    right: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.1s;
    color: #F948B2;
    font-weight: 800;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    cursor: pointer;
}

.game .content:hover {
    opacity: 1;
    border: 4px solid #F948B2;
}


@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 78px;
    }

    #nav-logo-container {
        gap: 10px;
        padding-left: 0px;
        padding-bottom: 62px;
        padding-top: 102px;
    }

    nav>div>ul {
        flex-direction: column;
        gap: 36px;
        padding-right: 0px;
    }

    #banner {
        flex-direction: column-reverse;
        margin-right: 0px;
        background-position: bottom;
        /* padding-left: 50px;
        padding-right: 50px; */
    }

    #banner-content {
        height: auto;
        padding-left: 0px;
        margin: 0 auto;
    }

    #banner-h3 {
        color: #0B0223;
        font-size: 48px;
        font-weight: 600;
        text-transform: uppercase;
    }

    #banner-h2 {
        font-size: 95px;
        font-weight: 800;
        text-transform: uppercase;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 24px;
    }

    .banner-p {
        color: #534C64;
        font-size: 20px;
        font-weight: 500;
        text-transform: lowercase;
        margin-bottom: 17px;
    }



    #community-section {
        padding-top: 36px;
        flex-direction: column;
    }

    #community-content {
        text-align: center;
        width: 80%;
    }

    #community-section-img {
        width: 80%;
    }

    #games-collection-description {
        padding-right: 50px;
        padding-left: 50px;
    }

    .game-description {
        margin-bottom: 50px;
    }

    #games-collection-container {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 50px;
    }






    #features-section {
        flex-direction: column;
        gap: 100px;
        margin-bottom: 150px;
    }

    .features-content-title-1 {
        text-align: center;
        font-size: 43px;
    }

    .features-content-title-2 {
        text-align: center;
        font-size: 43px;
    }

    .features-content-description {
        text-align: center;
    }

    .feature-img1 {
        width: 60%;
    }

    .feature-img2 {
        width: 25%;
        position: relative;
        margin-top: -80px;
        margin-left: 40px;
    }

    .feature-imgs {
        text-align: center;
        padding-left: 40px;
    }


    #features-section-2 {
        flex-direction: column;
        gap: 100px;
        margin-bottom: 150px;
    }

    .feature-img3 {
        width: 60%;
    }

    .feature-img4 {
        width: 25%;
        position: relative;
        margin-top: -80px;
        margin-left: 280px;
    }

    .features-content-title-3 {
        text-align: center;
        font-size: 43px;
    }

    .features-content-title-4 {
        text-align: center;
        font-size: 43px;
    }

    .features-content-description-2 {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        font-size: 16px;
    }

    #careers-section-div {
        display: flex;
        flex-direction: column;
    }

    #careers-section-content {
        width: 80%;
        padding-left: 0px;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    #category-section {
        padding-left: 0px;
        padding-right: 0px;
    }

    .category {
        gap: 5px;
        padding: 3px;
        font-size: 7px;
    }
    #categories {
        gap: 20px;
    }


    .category img {
        width: 30px;
        height: 30px;
    }

    footer {
        text-align: center;
    }

    .footer-a {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 63px;
        padding-bottom: 56px;
        grid-row-gap: 20px;
    }

    #socials {
        padding-left: 00px;
        padding-right: 00px;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 20px;
    }

    #privacy {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media screen and (min-width: 577px) and (max-width: 1200px) {
    nav {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 78px;
    }

    #nav-logo-container {
        gap: 10px;
        padding-left: 0px;
        padding-bottom: 62px;
        padding-top: 102px;
    }

    nav>div>ul {
        flex-direction: column;
        gap: 36px;
        padding-right: 0px;
    }

    #banner {
        flex-direction: column-reverse;
        margin-right: 0px;
        background-position: bottom;
        /* padding-left: 50px;
        padding-right: 50px; */
    }

    #banner-content {
        height: auto;
        padding-left: 0px;
        margin: 0 auto;
    }

    #banner-h3 {
        color: #0B0223;
        font-size: 48px;
        font-weight: 600;
        text-transform: uppercase;
    }

    #banner-h2 {
        font-size: 95px;
        font-weight: 800;
        text-transform: uppercase;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 24px;
    }

    .banner-p {
        color: #534C64;
        font-size: 20px;
        font-weight: 500;
        text-transform: lowercase;
        margin-bottom: 17px;
    }



    #community-section {
        padding-top: 36px;
        flex-direction: column;
    }

    #community-content {
        text-align: center;
        width: 80%;
    }

    #community-section-img {
        width: 80%;
    }

    #games-collection-description {
        padding-right: 50px;
        padding-left: 50px;
    }

    .game-description {
        margin-bottom: 50px;
    }

    #games-collection-container {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 50px;
    }






    #features-section {
        flex-direction: column;
        gap: 100px;
        margin-bottom: 186px;
    }

    .features-content-title-1 {
        text-align: center;
    }

    .features-content-title-2 {
        text-align: center;
    }

    .features-content-description {
        text-align: center;
    }

    .feature-img1 {
        width: 60%;
    }

    .feature-img2 {
        width: 25%;
        position: relative;
        margin-top: -80px;
        margin-left: 40px;
    }

    .feature-imgs {
        text-align: center;
        padding-left: 40px;
    }


    #features-section-2 {
        flex-direction: column;
        gap: 100px;
        margin-bottom: 186px;
    }

    .feature-img3 {
        width: 60%;
    }

    .feature-img4 {
        width: 25%;
        margin-top: -80px;
        margin-left: 520px;
    }

    .features-content-title-3 {
        text-align: center;
    }

    .features-content-title-4 {
        text-align: center;
    }

    .features-content-description-2 {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
    }

    #careers-section-div {
        display: flex;
        flex-direction: column;
    }

    #careers-section-content {
        width: 80%;
        padding-left: 0px;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    #category-section {
        padding-left: 0px;
        padding-right: 0px;
    }
    #categories {
        gap: 25px;
    }

    .category {
        gap: 5px;
        padding: 5px;
    }

    .category img {
        width: 60px;
        height: 60px;
    }

    footer {
        text-align: center;
    }

    .footer-a {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 63px;
        padding-bottom: 56px;
        grid-row-gap: 20px;
    }

    #socials {
        padding-left: 00px;
        padding-right: 00px;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 20px;
    }

    #privacy {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

}